:root {
    --nav-title: #e1d7b7;
    --nav-foreground: #e4b0a5;
    --nav-border: #ffbe98;
    --background: #7c93c3;
    --text-color: #f2e8c6;
    --text-size: 1.05rem;
}

html {
    scrollbar-color: #c58991 #5b6b9c;
}

body {
    background-image: url(../images/sky.png), url(../images/space.gif);
    background-repeat: no-repeat;
    background-size: cover cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Atma";
    font-size: var(--text-size);
}

p {
    color: var(--text-color);
    padding: 1rem;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 190px);
    border-radius: 20px;
    border: 3px solid black;
    padding: 10px;
    margin: 0 auto;
}

header {
    margin-bottom: 1rem;
    align-self: stretch;
}

.marquee {
    font-family: "Pixelify Sans";
    font-size: 2rem;
    color: #585393e6;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: #867d7de6 2px 0px 0px;
    animation: bouncing 5s linear infinite alternate, flick 5s infinite alternate;
}

.marquee h1 {
    display: inline-block;
}

@keyframes bouncing {
    0% {
        transform: translateX(40%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes flick {
    40% {
        opacity: 1;
    }

    42% {
        opacity: 0.8;
    }

    43% {
        opacity: 1;
    }

    45% {
        opacity: 0.3;
    }

    46% {
        opacity: 1;
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.box {
    background-color: var(--background);
    border: 1.5px solid var(--nav-border);
    border-radius: 0.63rem;
}

.navbar {
    color: var(--nav-title);
    padding: 0.2rem;
    max-width: 100%;
    width: 200px;
}

.personal::before {
    content: url(../images/personal.png);

}

.personal {
    font-family: "Lobster Two";
    font-size: 1.5rem;
    color: whitesmoke;
    margin: 0.2rem;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    list-style-type: none;
    justify-content: space-evenly;
}

.navbar li {
    white-space: nowrap;
}

.navbar li a {
    color: var(--nav-foreground);
    text-decoration: none;
    margin: 0.14rem 0.5rem;
}

.site-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    position: relative;
}

.intro-update {
    display: flex;
    gap: 2rem;
}

.intro {
    overflow-y: auto;
    height: 400px;
}

.ani-ase {
    background-size: contain;
    width: 30%;
    float: right;
    vertical-align: top;
}

.intro p {
    margin-right: 3rem;
    text-align: left;
    margin-bottom: 1rem;
}

.update {
    height: 300px;
}

.status-currently {
    display: flex;
    gap: 2rem;
}

.status {
    overflow-y: auto;
}

.currently {}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    align-self: stretch;
    height: 100px;
}

footer .support {
    margin-top: -2rem;
}

footer p {}

footer a {
    color: var(--nav-foreground);
}