:root {
    --nav-title: #e1d7b7;
    --nav-foreground: #e4b0a5;
    --nav-border: #ffbe98;
    --background: #7c93c3;
    --text-color: #f2e8c6;
    --text-size: 1.15rem;
    --text-padding: 0.5rem;
}

body {
    background-image: url(../images/sky.png), url(../images/space.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover, auto;
    font-family: "Atma";
    font-size: var(--text-size);
}

p {
    color: var(--text-color);
}

b,
strong {
    font-weight: 600;
}

i {
    font-style: italic;
}

.box {
    border: 1.5px solid var(--nav-border);
    border-radius: 0.63rem;
    color: var(--nav-title);
    background-color: var(--background);
}

.wrapper {
    position: relative;
    display: grid;
    max-width: 1100px;
    padding: 20px 75px 20px 20px;
    margin: auto;
    grid-template-areas:
        "header header header"
        "navbar main update"
        "navbar status currently"
        "footer footer footer";
    grid-template-columns: 20% 51% 29%;
    grid-template-rows: 70px 390px 300px 70px;
    gap: 30px;
}

.header {
    overflow: hidden;
    grid-area: header;
}

.title {
    align-items: center;
    color: #585393e6;
    text-shadow: #867d7de6 2px 0px 0px;
    animation: flick 5s infinite alternate;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    letter-spacing: 0.5rem;
    font-family: "Pixelify Sans";
    font-size: 2rem;
}

#navbar {
    overflow: auto;
    padding: 0.2rem;
    grid-area: navbar;
}

#navbar a {
    display: block;
    margin-left: 1.2rem;
    color: var(--nav-foreground);
    font-weight: 600;
    text-decoration: none;
}

#navbar h3 {
    margin: 0.4rem;
    color: whitesmoke;
    font-family: "Lobster Two";
    font-size: 1.5rem;
}

#intro {
    overflow: auto;
    padding: var(--text-padding);
    background-color: var(--background);
    grid-area: main;
}

#intro p {
    margin: 1rem 0;
}

.ani-ase {
    float: right;
    width: 30%;
    margin-left: 0.2rem;
}

#update {
    grid-area: update;
}

#update h2 {
    margin-right: 1rem;
    color: whitesmoke;
    text-align: center;
    font-family: "Lobster Two";
    font-size: 1.5rem;
}

#update h3 {
    padding: var(--text-padding);
    color: var(--nav-foreground);
    font-size: 1.3rem;
}

#update p {
    margin: 0 0 0 1rem;
}

#status {
    grid-area: status;
}

#currently {
    grid-area: currently;
}

#footer {
    grid-area: footer;
}